* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

div.contenedor {
    display: flex;
}

nav {
    margin: 20px 20px 0px 0px;
}

h1 {
    text-align: center;
    color: #5F8F11;
    margin-top: 0px;
}

h1 span {
    color: #BF823B;
}

h3 {
    color: #70AF0A;
    margin-top: 0px;
    border-bottom: 1px solid rgb(124, 124, 124);
}

h4 {
    color: #BF823B;
}

div.contenido {
    border: 1px solid gray;
    padding: 30px;
    background-image: linear-gradient(180deg, rgb(197, 197, 197), white, white, white, white, white, white, white, white, white, white, white, rgb(190, 190, 190))
}

ul {
    list-style: none;
}

ul li {
    margin-top: 5px;
}

li a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    padding: 10px;
    background-image: linear-gradient(white, #89c725c5);
    background-color: #89c725c5;
    color: rgb(80, 80, 80);
    border: gray solid 1px;
    font-size: .9em;
}

li#nav_index a {
    background-image: linear-gradient(white, #dba05db4);
    color: black;
}

img {
    width: 100%;
}